<% content_for :stylesheets do %>

.my-head {
margin-top: 40px;
text-align: center;
}

<% end %>

<header class="am-g my-head">
  <div class="am-u-sm-12 am-article">
    <h1 class="am-article-title">我的关注</h1>
  </div>
  <hr class="am-article-divider">
</header>

<div class="am-g-fixed am-u-sm-centered">
  <table class="am-table">
    <thead>
      <tr>
	<th>户型</th><th>地块</th><th>面积</th><th>楼号</th><th>单元号</th><th>楼层</th><th>门牌号</th><th>居室</th><th>关注人数</th><th>操作</th>
      </tr>
    </thead>
    <tbody class="query-result">
    </tbody>
  </table>
</div>

<div data-am-widget="gotop" class="am-gotop am-gotop-default">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
