<% content_for :stylesheets do %>
.my-head {
margin-top: 40px;
text-align: center;
}
<% end %>

<header class="am-g my-head">
	<div class="am-u-sm-12 am-article">
		<h1 class="am-article-title">房屋申购</h1>
	</div>
</header>

<div class="am-g-fixed am-u-lg-centered">
	<table class="am-table">
		<thead>
			<tr>
				<th>进度</th>
				<th>流程</th>
				<th>时间安排</th>
				<th>教职工操作</th>
				<th>房地产部操作</th>
			</tr>
		</thead>
		<tbody>
			<tr class="am-disabled">
				<td><span class="am-badge">已结束</span></td>
				<td>提交申请<span class="am-icon-question-circle am-icon-sm"></span></td>
				<td>2014-11-31至2015-1-1</td>
				<td><button type="button" class="am-btn">个人申请，提交材料</button></td>
				<td></td>
			</tr>
			<tr class="am-disabled">
				<td><span class="am-badge">已结束</span></td>
				<td>资格审核<span class="am-icon-question-circle am-icon-sm"></td>
				<td>2014-11-31至2015-1-1</td>
				<td></td>
				<td><button type="button" class="am-btn">资格审核，按资格排队</span></td>
			</tr>
			<tr class="am-disabled">
				<td><span class="am-badge">已结束</span></td>
				<td>排队公示1榜<span class="am-icon-question-circle am-icon-sm"></td>
				<td>2014-11-31至2015-1-1</td>
				<td><button type="button" class="am-btn am-btn-default">查看排队公示1榜</button></td>
				<td></td>
			</tr>
			<tr class="am-success">
				<td><span class="am-badge am-badge-success">正在进行中</span></td>
				<td>排队调整<span class="am-icon-question-circle am-icon-sm"></td>
				<td>2014-11-31至2015-1-1</td>
				<td></td>
				<td><button type="button" class="am-btn am-btn-default">根据反馈进行调整</button></td>
			</tr>
			<tr>
				<td><span class="am-badge">尚未开始</span></td>
				<td>排队公示2榜<span class="am-icon-question-circle am-icon-sm"></td>
				<td>2014-11-31至2015-1-1</td>
				<td><button type="button" class="am-btn am-btn-default">查看排队公示2榜</button></td>
				<td></td>
			</tr>
			<tr>
				<td><span class="am-badge">尚未开始</span></td>
				<td>排队调整<span class="am-icon-question-circle am-icon-sm"></td>
				<td>2014-11-31至2015-1-1</td>
				<td></td>
				<td><button type="button" class="am-btn am-btn-default">根据反馈进行调整</button></td>
			</tr>
			<tr>
				<td><span class="am-badge">尚未开始</span></td>
				<td>排队公示3榜<span class="am-icon-question-circle am-icon-sm"></td>
				<td>2014-11-31至2015-1-1</td>
				<td><button type="button" class="am-btn am-btn-default">查看排队公示3榜</button></td>
				<td></td>
			</tr>
			<tr>
				<td><span class="am-badge">尚未开始</span></td>
				<td>确定选房时间<span class="am-icon-question-circle am-icon-sm"></td>
				<td>2014-11-31至2015-1-1</td>
				<td></td>
				<td><button type="button" class="am-btn am-btn-default">根据队列确定选房时间段，通知申请人</button></td>
			</tr>
			<tr>
				<td><span class="am-badge">尚未开始</span></td>
				<td>网上选房<span class="am-icon-question-circle am-icon-sm"></td>
				<td>2014-11-31至2015-1-1</td>
				<td><button type="button" class="am-btn am-btn-default">查看选房时间，在线选房</button></td>
				<td></td>
			</tr>
			<tr>
				<td><span class="am-badge">尚未开始</span></td>
				<td>选房结果公示<span class="am-icon-question-circle am-icon-sm"></td>
				<td>2014-11-31至2015-1-1</td>
				<td><button type="button" class="am-btn am-btn-default">查看选房结果</button></td>
				<td></td>
			</tr>
			<tr>
				<td><span class="am-badge">尚未开始</span></td>
				<td>购房手续办理<span class="am-icon-question-circle am-icon-sm"></td>
				<td>2014-11-31至2015-1-1</td>
				<td><button type="button" class="am-btn am-btn-default">按通知进行办理</button></td>
				<td><button type="button" class="am-btn am-btn-default">计算应缴费用，生成各类协议及表格，通知购房人</button></td>
			</tr>
		</tbody>
	</table>
</div>