<% content_for :stylesheets do %>

.types-g-fixed {
height: 600px;
}
.my-head {
margin-top: 40px;
text-align: center;
}

.my-sidebar {
padding-right: 0;
margin-top: 100px;
//border-right: 1px solid #eeeeee;
}

.my-title {
martin-top: 40px;
}

<% end %>

<div class="am-g am-g-fixed">
  <header class="my-head">
    <div class="am-article">
      <h1 class="am-article-title">所有楼房</h1>
    </div>
    <hr class="am-article-divider"/>
  </header>

  <% @buildings.each do |building| %>
  <div class="am-u-sm-12 am-u-md-4 am-u-lg-2 <%= "am-u-end" if @buildings.last == building %>">
    <div class="am-panel am-panel-default">
      <div class="am-panel-hd">
        <%= building.name %>
      </div>
      <div class="am-panel-bd">
        <%= image_tag "buildings/1.jpg", class: "am-radius" %>
        <p><%= link_to "查看详细", controller: "buildings", action: "show", id: building %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
