<% content_for :stylesheets do %>

.my-head {
margin-top: 40px;
text-align: center;
}

<% end %>

<header class="am-g my-head">
  <div class="am-u-sm-12 am-article">
    <h1 class="am-article-title">房屋查询</h1>
  </div>
  <hr class="am-article-divider">
</header>

<div class="am-g am-g-fixed am-u-sm-centered">
  <section data-am-widget="accordion" class="am-accordion am-accordion-gapped"
           data-am-accordion='{  }'>
    <dl class="am-accordion-item">
      <dt class="am-accordion-title">户型</dt>
      <dd class="am-accordion-bd am-collapse">
        <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
        <div class="am-accordion-content">
          <% @house_types.each do |house_type| %>
          <button type="button" class="am-btn am-btn-default"><%= house_type.name %></button>
          <% end %>
        </div>
      </dd>
    </dl>
    <dl class="am-accordion-item">
      <dt class="am-accordion-title">地块</dt>
      <dd class="am-accordion-bd am-collapse ">
        <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
        <div class="am-accordion-content">
          <% @sites.each do |site| %>
          <button type="button" class="am-btn am-btn-default"><%= site.name %></button>
          <% end %>
        </div>
      </dd>
    </dl>
    <dl class="am-accordion-item">
      <dt class="am-accordion-title">楼房</dt>
      <dd class="am-accordion-bd am-collapse ">
        <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
        <div class="am-accordion-content">
          <% @buildings.each do |building| %>
          <button type="button" class="am-btn am-btn-default"><%= building.name %></button>
          <% end %>
        </div>
      </dd>
    </dl>
    <dl class="am-accordion-item">
      <dt class="am-accordion-title">面积</dt>
      <dd class="am-accordion-bd am-collapse ">
        <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
        <div class="am-accordion-content">
          <div class="am-btn-group">
            <button type="button" class="am-btn am-btn-default">70平米</button>
            <button type="button" class="am-btn am-btn-default">80平米</button>
            <button type="button" class="am-btn am-btn-default">120平米</button>
          </div>
        </div>
      </dd>
    </dl>
    <dl class="am-accordion-item">
      <dt class="am-accordion-title">楼层</dt>
      <dd class="am-accordion-bd am-collapse ">
        <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
        <div class="am-accordion-content">
          <div class="am-btn-group">
            <button type="button" class="am-btn am-btn-default">1楼</button>
            <button type="button" class="am-btn am-btn-default">2楼</button>
            <button type="button" class="am-btn am-btn-default">3楼</button>
            <button type="button" class="am-btn am-btn-default">4楼</button>
            <button type="button" class="am-btn am-btn-default">5楼</button>
            <button type="button" class="am-btn am-btn-default">6楼</button>
          </div>
        </div>
      </dd>
    </dl>
  </section>
</div>

  <hr>

<div class="am-g-fixed am-center">
  <table class="am-table">
    <thead>
      <tr>
	<th>户型</th><th>地块</th><th>面积</th><th>楼号</th><th>单元号</th><th>门牌号</th><th>居室</th><th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>101</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>201</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>301</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>401</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>501</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-danger">取消关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>601</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>101</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>201</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-danger">取消关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>301</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>401</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-danger">取消关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>501</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
      <tr>
	<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>601</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div data-am-widget="gotop" class="am-gotop am-gotop-default">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
