<% content_for :stylesheets do %>
.my-head {
margin-top: 40px;
text-align: center;
}
<% end %>

<header class="am-g my-head">
	<div class="am-u-sm-12 am-article">
		<h1 class="am-article-title">房屋查询</h1>
	</div>
</header>

<div class="am-g-fixed am-center">
	<div class="am-u-lg-centered">
		<table class="am-table">
			<tbody>
				<tr>
					<td>户型</td>
					<td>
						<div class="am-btn-group" data-am-button>
							<button class="am-btn am-btn-default">午A</button>
							<button class="am-btn am-btn-default">午B</button>
							<button class="am-btn am-btn-default">辰A</button>
							<button class="am-btn am-btn-default">辰B</button>
							<button class="am-btn am-btn-default">子A</button>
							<button class="am-btn am-btn-default">子B</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>建筑面积</td>
					<td>
						<div class="am-btn-group" data-am-button>
							<button class="am-btn am-btn-default">90</button>
							<button class="am-btn am-btn-default">120</button>
							<button class="am-btn am-btn-default">140</button>
							<button class="am-btn am-btn-default">180</button>
							<button class="am-btn am-btn-default">200</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>所在地块</td>
					<td>
						<div class="am-btn-group" data-am-button>
							<button class="am-btn am-btn-default">E'</button>
							<button class="am-btn am-btn-default">E''</button>
							<button class="am-btn am-btn-default">G</button>
							<button class="am-btn am-btn-default">G'</button>
							<button class="am-btn am-btn-default">F</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>楼层</td>
					<td>
						<div class="am-btn-group" data-am-button>
							<button class="am-btn am-btn-default">1</button>
							<button class="am-btn am-btn-default">2</button>
							<button class="am-btn am-btn-default">3</button>
							<button class="am-btn am-btn-default">4</button>
							<button class="am-btn am-btn-default">5</button>
							<button class="am-btn am-btn-default">6</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>楼号</td>
					<td>
						<table class="am-table">
							<tbody>
								<tr>
									<td>E'地块</td>
									<td>
										<div class="am-btn-group" data-am-button>
											<button class="am-btn am-btn-default">E1</button>
											<button class="am-btn am-btn-default">E2</button>
											<button class="am-btn am-btn-default">E3</button>
											<button class="am-btn am-btn-default">E4</button>
											<button class="am-btn am-btn-default">E5</button>
											<button class="am-btn am-btn-default">E6</button>
											<button class="am-btn am-btn-default">E7</button>
											<button class="am-btn am-btn-default">E8</button>
											<button class="am-btn am-btn-default">E9</button>
											<button class="am-btn am-btn-default">E10</button>
											<button class="am-btn am-btn-default">E11</button>
											<button class="am-btn am-btn-default">E12</button>
											<button class="am-btn am-btn-default">E13</button>
											<button class="am-btn am-btn-default">E14</button>
											<button class="am-btn am-btn-default">E15</button>
											<button class="am-btn am-btn-default">E16</button>
											<button class="am-btn am-btn-default">E17</button>
											<button class="am-btn am-btn-default">E18</button>
										</div>
									</td>
								</tr>
								<tr>
									<td>E''地块</td>
									<td>
										<div class="am-btn-group" data-am-button>
											<button class="am-btn am-btn-default">E19</button>
											<button class="am-btn am-btn-default">E20</button>
											<button class="am-btn am-btn-default">E21</button>
											<button class="am-btn am-btn-default">E22</button>
											<button class="am-btn am-btn-default">E23</button>
											<button class="am-btn am-btn-default">E24</button>
										</div>
									</td>
								</tr>
								<tr>
									<td>G地块</td>
									<td>
										<div class="am-btn-group" data-am-button>
											<button class="am-btn am-btn-default">G1</button>
											<button class="am-btn am-btn-default">G2</button>
											<button class="am-btn am-btn-default">G3</button>
											<button class="am-btn am-btn-default">G4</button>
											<button class="am-btn am-btn-default">G5</button>
											<button class="am-btn am-btn-default">G6</button>
										</div>
									</td>
								</tr>
								<tr>
									<td>G'地块</td>
									<td>
										<div class="am-btn-group" data-am-button>
											<button class="am-btn am-btn-default">G7</button>
											<button class="am-btn am-btn-default">G8</button>
											<button class="am-btn am-btn-default">G9</button>
											<button class="am-btn am-btn-default">G10</button>
											<button class="am-btn am-btn-default">G11</button>
											<button class="am-btn am-btn-default">G12</button>
											<button class="am-btn am-btn-default">G13</button>
											<button class="am-btn am-btn-default">G14</button>
											<button class="am-btn am-btn-default">G15</button>
											<button class="am-btn am-btn-default">G16</button>
											<button class="am-btn am-btn-default">G17</button>
											<button class="am-btn am-btn-default">G18</button>
										</div>
									</td>
								</tr>
								<tr>
									<td>F地块</td>
									<td>
										<div class="am-btn-group" data-am-button>
											<button class="am-btn am-btn-default">F1</button>
											<button class="am-btn am-btn-default">F2</button>
											<button class="am-btn am-btn-default">F3</button>
											<button class="am-btn am-btn-default">F4</button>
											<button class="am-btn am-btn-default">F5</button>
											<button class="am-btn am-btn-default">F6</button>
											<button class="am-btn am-btn-default">F7</button>
											<button class="am-btn am-btn-default">F8</button>
											<button class="am-btn am-btn-default">F9</button>
											<button class="am-btn am-btn-default">F10</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<hr>

<div class="am-g-fixed am-center">
	<table class="am-table">
		<thead>
			<tr>
				<th>户型</th><th>地块</th><th>面积</th><th>楼号</th><th>单元号</th><th>门牌号</th><th>居室</th><th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>101</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>201</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>301</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>401</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>501</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-danger">取消关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>1</td><td>601</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>101</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>201</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-danger">取消关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>301</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>401</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-danger">取消关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>501</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
			</tr>
			<tr>
				<td>午A</td><td>E'</td><td>90平方米</td><td>E-1</td><td>2</td><td>601</td><td>2室2厅1卫</td><td><button type="button" class="am-btn am-btn-success">关注</button></td>
			</tr>
		</tbody>
	</table>
</div>

